In [10]:
import pandas as pd
import glob

In [11]:

df = pd.read_csv("jammu.csv")
df = pd.read_csv("rajasthan_bus_details.csv")
df = pd.read_csv("punjab_bus_details.csv")
df = pd.read_csv("wb1.csv")
df = pd.read_csv("sb_bus_details.csv")
df = pd.read_csv("wb2_bus_details.csv")
df = pd.read_csv("northbengal.csv")
df = pd.read_csv("kaac_bus_details.csv")
df = pd.read_csv("up_bus_details.csv")
df = pd.read_csv("bihar.csv")
df = pd.read_csv("assam_bus_details.csv")
df = pd.read_csv("chandigarh_bus_details.csv")
df = pd.read_csv("himachal_bus_details.csv")
df = pd.read_csv("kadamba_bus_details.csv")
df = pd.read_csv("Telangana_bus_details.csv")
df = pd.read_csv("andrhra_bus_details.csv")
df = pd.read_csv("kerala_bus_details.csv")

# List of CSV file paths
csv_files = ["jammu.csv","rajasthan_bus_details.csv","punjab_bus_details.csv","wb1.csv","sb_bus_details.csv","wb2_bus_details.csv","northbengal.csv","kaac_bus_details.csv","up_bus_details.csv","bihar.csv","assam_bus_details.csv","chandigarh_bus_details.csv","himachal_bus_details.csv","kadamba_bus_details.csv","andrhra_bus_details.csv","Telangana_bus_details.csv","kerala_bus_details.csv",]   

# Read each CSV file into a DataFrame and store it in a list
df= [pd.read_csv(file) for file in csv_files]

# Concatenate all DataFrames in the list
df = pd.concat(df, ignore_index=True)
df.to_csv("Buses.csv", index=False)
df = pd.read_csv("Buses.csv")

id_column = pd.Series(range(1, len(df) + 1), name='id')

# Resetting the index of df to ensure alignment (optional, but sometimes necessary)
df = df.reset_index(drop=True)

# Concatenating the id_column to the DataFrame
df = pd.concat([id_column, df], axis=1)
# Display the updated DataFrame
#print(df)
df = df.dropna() #drop null values

#replace string to empty string
df['Price'] = df['Price'].astype(str)
df['Price'] = df['Price'].str.replace('INR ', '', regex=False)
#print(df)

#extract the digits(0-9)
df['Seat_Availability'] = df['Seat_Availability'].str.extract(r'(\d+)')
df = df.dropna()
print(df)

        id                                    Route_Name  \
0        1                   Jammu (j and k) to Srinagar
1        2                   Jammu (j and k) to Haridwar
3        4                      Jammu (j and k) to Delhi
8        9                      Delhi to Jammu (j and k)
13      14  Katra (jammu and kashmir) to Jammu (j and k)
...    ...                                           ...
9369  9370               Kozhikode to Thiruvananthapuram
9370  9371               Kozhikode to Thiruvananthapuram
9371  9372               Kozhikode to Thiruvananthapuram
9372  9373               Kozhikode to Thiruvananthapuram
9373  9374               Kozhikode to Thiruvananthapuram

                                             Route_Link          Bus_Name  \
0     https://www.redbus.in/bus-tickets/jammu-to-sri...   New Pal Travels
1     https://www.redbus.in/bus-tickets/jammu-to-har...    Laxmi holidays
3      https://www.redbus.in/bus-tickets/jammu-to-delhi  Gola Bus Service
8      https://www.redbus.in/bus-tickets/delhi-to-jammu    Laxmi holidays
13     https://www.redbus.in/bus-tickets/katra-to-jammu      Zingbus Plus
...                                                 ...               ...
9369  https://www.redbus.in/bus-tickets/kozhikode-to...        A1 Travels
9370  https://www.redbus.in/bus-tickets/kozhikode-to...   Madhavi Travels
9371  https://www.redbus.in/bus-tickets/kozhikode-to...      Galaxy Tours
9372  https://www.redbus.in/bus-tickets/kozhikode-to...   EMERALD TRAVELS
9373  https://www.redbus.in/bus-tickets/kozhikode-to...    Balaji Tourist

                                     Bus_Type Departing_Time Duration  \
0              NON A/C Seater / Sleeper (2+2)          21:15  10h 00m
1       Bharat Benz A/C Seater /Sleeper (2+1)          20:50  12h 40m
3               VE A/C Seater / Sleeper (2+1)          20:20  11h 30m
8     Volvo 9600 Multi-Axle A/C Sleeper (2+1)          21:30  12h 45m
13                          A/C Sleeper (2+1)          19:50  01h 25m
...                                       ...            ...      ...
9369    Bharat Benz A/C Seater /Sleeper (2+1)          22:30  07h 30m
9370             Volvo A/C Semi Sleeper (2+2)          23:30  08h 00m
9371                   A/C Semi Sleeper (2+2)          21:45  08h 45m
9372                   A/C Semi Sleeper (2+2)          22:00  07h 30m
9373   Volvo Multi-Axle A/C Semisleeper (2+2)          22:00  11h 00m

     Reaching_Time  Star_Rating Price Seat_Availability
0            07:15          1.4   719                36
1            09:30          4.5   610                15
3            07:50          4.8   399                12
8            10:15          4.5  1000                17
13           21:15          4.3   123                31
...            ...          ...   ...               ...
9369         06:00          2.3   900                38
9370         07:30          3.2  1199                41
9371         06:30          2.8  1000                27
9372         05:30          2.2   800                28
9373         09:00          0.0  3000                43

[9085 rows x 11 columns]

In [12]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\tanvi\anaconda3\lib\site-packages (1.1.1)

In [13]:
#python mysql connection
import pymysql
mydb = pymysql.connect(
       host="localhost",
       user="root",
       password="Tanvi",
    
)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE REDBUS")
mycursor.execute("SHOW DATABASES")
for i in mycursor :
    print(i)

mydb=pymysql.connect(
    host="localhost",
    user="root",
    password="Tanvi",
    database='REDBUS'
)

('27thjune_db',)
('guvi_session',)
('information_schema',)
('mysql',)
('performance_schema',)
('redbus',)
('redbus1',)
('sakila',)
('sys',)
('world',)

In [14]:

mycursor=mydb.cursor()
a = ",".join(f"{i} {str(j).replace('float64','float').replace('object','text').replace('int64','int')}"
             for i,j in zip(df.columns,df.dtypes)) #replace dtypes from pandas to mysql
table_name = "Buses"
mycursor.execute(f"create table {table_name} ({a})")
for i in range(len(df)):
    mycursor.execute(f"insert into {table_name} values {tuple(df.iloc[i])}")
    mydb.commit()

mydb.close()
print("Data inserted successfully!")

Data inserted successfully!